# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

uploads/

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Coverage directory used by tools like istanbul
coverage/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm/

# Binaries for npm/yarn/pnpm
*.tgz

# Parcel-bundler cache
.cache/

# Temporary folders
tmp/
temp/

# Debug folders
.debug/
